# ignore the picture folders
data/*
output/*/
etc/*
temp/*
test/*

# ignore various junk
facenet_reco/imShow/*
facenet_reco/temporal/*
facenet_reco/__pycache__/*
*.pyc

# ignore config file so folders can be local
facenet_reco/config.yaml

# more huge files
lfw.tgz
facenet_reco/shape_predictor_68_face_landmarks.dat
output/classifier.pkl
